@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "~@fortawesome/fontawesome-free/css/all.min.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

html{
    height: 100%;
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: column; 
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    padding: 15px 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    margin-left: auto;
    /* background-color: #cb5846; */
    position: relative;
    margin: 0;
    font-size: 14px;
    
}

.logo{
    color: bisque;
    user-select: none; 
    height: 40px;
    width: auto;
    display: flex;
    padding: 0.25rem 0px; 
    margin-left: 0;
    justify-content: space-between;
    border: none;
    position: relative;
    background-color: transparent;
    align-items: center;
    padding-top: 40px;
    padding-left: 0;
    border-radius: 50% ;
    border-radius: 20px;
}
.logo img{
    width: 80px;
    position: relative;
    top: -20px;
    margin: 0;
    
}
.navigation a {
  font-size: 1em;
  color: bisque;
  text-decoration: none;
  font-weight: 300;
  margin-left: 20px;
  gap: 20px;
}

.navigation .btnLogin {
    padding: 5px;
    border: 1px solid bisque;
    border-radius: 6px;
    font-size: 16px;
    color: bisque;
    margin-left: 40px;
    font-weight: 500;
    background-color: #e15b46;
    color: bisque;
    border: 1.5px solid #436464ac; 
    
}
.navigation .btnLogin:hover {

  background-color: #436464ac;
    border: 1.5px solid #436464ac;
    
  
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(backgroundimage.png);
    width: auto;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 100%;
    margin: 0;
    padding-top: 50px;

}
.footer{
    color: bisque;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    /* background-color: #cb5846;  */
    font-size: 15px;
    margin-top: auto;
    position: relative;
    width: 85vw;
    height: 70px;
    border: none;
    margin-top: auto;
    line-height: 60px;
    opacity: 1;
}



/* .footer .social{
    display: flex;
    justify-content: center;
}

.footer .social a{
    padding: 20px;
    width: 50px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
} */
/* .footer ul {
    margin-top:0 ;
    color: bisque;
    padding: 0;
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 0;

}
.footer ul a{
    color: bisque;
    text-decoration: none;
    opacity: 0.8;

}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}*/

.footer .copyright{
    margin: 0;
    text-align: center;
    font-size: 11px;
    color: #aaa;
} 

.menu {
  color: bisque;
  text-align: center;

}
.services{
  color: bisque;
  text-align: center;
}

.contactUs{
  color: bisque;
  text-align: center;
}

section {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero {
    background-image: url('heroimg.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 30px; 
    color:bisque;
    text-align: center;
    position: relative;
    opacity: 0.8;
    width: 85vw;
    height: 85vw;
    align-items: center;
    justify-content: center;
    /* flex: 1; */
  }
  
  .hero::before {
  
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(56, 55, 55, 0.269); /* koyu filtre */
    z-index: 0;
  }
  
  .hero .hero-content {
    position: relative;
    align-items: center;
    z-index: 1;
    max-width: 1000px;
    max-height: 500px;
    background-color: #436464ac;
    justify-content: center;
    padding: 0 20px;
    text-align: center;

  }
  .locations{
    color: bisque;
    text-align: center;
    
  }
  .aboutUs{
    color: bisque;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
  }
  .hero h2 {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
  }
  
  .hero p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    color: bisque;
    opacity: 2;
  }
  
  .hero-buttons .btn {
    padding: 12px 24px;
    margin: 0 10px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: 0.3s;
    opacity: 0.9;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #e15b46;
  }
  
  .btn.primary {
    background-color: #e15b46;
    color: bisque;
    border: 1.5px solid #436464ac;    
  }
  
  .btn.primary:hover {
    background-color: #436464ac;
    border: 1.5px solid #436464ac;
    
  }
  
  .btn.secondary {
    background-color: #e15b46;
    color: bisque;
    border: 1.5px solid #436464ac;
  }
  
  .btn.secondary:hover {
    background-color: #436464ac;
    border: 1.5px solid #436464ac;
  }

  .subbtn {
    background-color: bisque;
    opacity: 0.4;
    border-radius: 10px;
    width: 100%;
    border: none;

  }

  .form {
    position: relative;
    width: 400px;
    height: 440px;
    background-color: bisque;
    background: transparent;
    border: 2px solid rgba(255, 255, 255 , .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

 form .form-box {
  width: 100%;
  padding: 40px;
}

.form-box h2 {
  font-size: 2em;
  color: bisque;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.contact-form{
  position: relative;
    width: 400px;
    height: 440px;
    background-color: bisque;
    background: transparent;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}
.input-box textarea{
  width: 100%;
  height: 50%;
  border-radius: 20px;
  background-color: bisque;
  opacity: 0.4;
  padding: 20px;
}

.input-box label{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
  color: bisque;
}
.input-box input{
  height: 100%;
  width: 100%;
  background-color: bisque;
  opacity: 0.6;
  border: none;
  outline: none;
  border-radius: 6px;
  opacity: 0.4;
  
}

.check-box {
  color: bisque;
}
.register{
  color: bisque;
}
.check-box{
  justify-content: space-between;

}

.btn{
  width: 100%;
  height: 35px;
  background-color: bisque;
  opacity: 0.6;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 1em;
  color: #141818ac;
}

.contact {
  margin: 0;
  text-align: center;
  font-size: 11px;
  color: #aaa;
}